name: Docker Image Push to Docker Registry

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_TOKEN:
        required: true
jobs:
  Docker-Push:
    name: Docker Image Push to Docker Registry
    runs-on: self-hosted
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Login to Docker Registry
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Set Image Tag
        id: set-tag
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "IMAGE_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=latest" >> $GITHUB_ENV
          fi

      - name: Push Docker Image
        run: |
          docker push ${{ inputs.image_name }}:$IMAGE_TAG

      - name: Set Image as Private
        run: |
          REPO_NAME=$(echo "${{ inputs.image_name }}" | cut -d':' -f1)  # Extract repository name without tag
          curl -X PATCH "https://hub.docker.com/v2/repositories/$REPO_NAME/" \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer $(curl -s -X POST -H "Content-Type: application/json" -d '{"username": "${{ secrets.DOCKER_USERNAME }}", "password": "${{ secrets.DOCKER_TOKEN }}"}' https://hub.docker.com/v2/users/login/ | jq -r .token)" \
            -d '{"is_private": true}'