name: Docker Image Build

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string

jobs:
  ImageBuild-Test:
    name: Docker Image Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Image Tag
        id: set-tag
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "IMAGE_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=latest" >> $GITHUB_ENV
          fi
          
      - name: Build Docker Image
        run: docker build -t ${{ inputs.image_name }}:$IMAGE_TAG .

      - name: Verify Docker Image
        run: docker image inspect ${{ inputs.image_name }}:$IMAGE_TAG

      - name: Create Reports Directory
        run: mkdir -p trivy-reports

      - name: Run Trivy Security Scan (Full Report in HTML)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ inputs.image_name }}:${{ env.IMAGE_TAG }}'
          format: 'template'
          template: "@contrib/html.tpl"
          output: "trivy-reports/full-trivy-report.html"
          exit-code: 0
          severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'

      - name: Upload Trivy report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-reports/full-trivy-report.html

      - name: Run Trivy Security Scan (Critical Only Report in HTML)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ inputs.image_name }}:${{ env.IMAGE_TAG }}'
          format: 'template'
          template: "@contrib/html.tpl"
          output: "trivy-reports/critical-trivy-report.html"
          exit-code: 1
          severity: 'HIGH,CRITICAL'

      - name: Upload Critical Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: critical-trivy-report
          path: trivy-reports/critical-trivy-report.html
